@import '../../styles/variables.scss';

.am-modal-transparent {
    width: 325px !important;
}
.am-modal-alert-content {
    overflow: initial;
}
.am-modal-transparent .am-modal-content {

}

.da-modal {
    padding: 20px 15px 15px;

    .title {
        height: 22px;
        line-height: 22px;
        color: #82AFEA;
    }

    .content {
        position: relative;
        margin: 15px 0 30px;
        min-height: 50px;
        padding-left: 60px;
        display: flex;
        align-items: center;
        text-align: left;
        color: #000;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 60%;
            transform: translateY(-50%);
            z-index: 1;
            width: 50px;
            height: 60px;
            background-image: url('~Imgs/btn-xiaopu.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        span {
            display: inline-block;
            width: 10px;
            color: $orange-color;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

    .exit-footer {
        display: flex;
        justify-content: center;
    }

    .err-footer {
        display: flex;
        justify-content: center;
    }

    .da-btn,
    .da-outline-btn {
        width: 125px;
    }
}
