.intro-card{
  background-image: url(~Imgs/banner-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 35px;
  padding-bottom: 15px;
  .video{
    position: relative;
      top: -45px;
      .video-bg{
        background-color: none;
        background-size: 170px;
        background-repeat: no-repeat;
        background-position: 43px 50px;
        padding: 10px 0;
      }
    .intro-video{
      width: 120px;
      height: 120px;
      margin: auto;
      display: block;
      border-radius: 50%;
      border:3px solid rgb(89 51 202 / 70%);
      background-image: url(~Imgs/video-poster.png);
    }

    .play-btn{
      width: 78%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -30px;
      img{
        width: 40px;
        height: 40px;
      }
    }

    .active-btn{
      img{
        animation: changeBiger 1s linear infinite;
      }
    }

    @keyframes changeBiger {
      0% {
          transform: scale(1.1);
      }

      20%{
        transform: scale(1.3);
      }
      40%{
        transform: scale(1.5);
      }

      40%{
        transform: scale(1.3);
      }

      80%{
        transform: scale(1.2);
      }
      100% {
          transform: scale(1);
      }
    }
    .play-text{
      line-height: 40px;
      color: white;
      font-weight: 500;
      font-size: 12px;
    }
  }

  .intro-text{
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -90px;
    div{
      text-align: center;
      margin-top: 8px;
    }

    .fina-name{
      color: white;
      font-weight: 600;
      
    }
    
    .fina-item{
      font-size: 12px;
      color: white;
      font-weight: 400;
      margin-bottom: -5px;
    }
  }
}