@import '../../../styles/common.scss';

$btn-width: 163px;
$btn-height: 38.5px;

.da-btn {
    display: inline-block;
    width: $btn-width;
    height: $btn-height;
    line-height: $btn-height;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 18px #c8bace;
    background-image: linear-gradient(-45deg,  $sec-primary-color, $primary-color);
    font-weight: normal;
    cursor: pointer;

    &:active {
        opacity: .7;
    }

    .btn-content {
        position: relative;
        display: inline-block;
    }

    .btn-icon {
        position: absolute;
        left: calc(100% + 5px); 
        top: 5px;
        width: 22px;
        height: 22px;
    }
}

.da-outline-btn {
    @extend .da-btn;
    padding: 1px;
    box-shadow: 0 3px 15px #e9deee;
    background-image: linear-gradient(-45deg,  #9B299F, $primary-color);
    font-weight: normal;

    >div {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #fff;
        color: #1D286B;
    }
}