.share-btn{
  padding: 8px 8px;
  transform: scale(0.9);
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(18,70,216,0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-46deg, #a8c1ff66 0%, #6199fa4d 100%);
  border-radius: 3px;
  .share-icon{
    width: 13px;
    margin-right: 2px;
  }

  .share-title{
    font-size: 13px;
    color: #394166;
    opacity: 0.9;
    font-weight: 400;
  }
}
