.bottomstatisticsbar{
    background-image: url(../../../../public/imgs/bottomstatisticsbarbackground.png);
    background-size:100%;
    display:flex;
    justify-content:space-around; 
    align-items: center;
    width: 100%;
    height: 45px;
    position:fixed;
    bottom: 0px;
    .count-text{
        color:whitesmoke;
        font-weight: 40;
    }
    .number{
        color:white;
        font-size:22.5px;
    }
    .buttoninbar{
        width: 110px;
        height: 32px;
        background-image: url(../../../../public/imgs/jump.png);
        background-size: 100% 100%;
    }
}