.dailynewfund{
    background-color: rgb(238, 241, 250); 
    margin:0 auto;
    width:95%;
    border-radius: 8px;
    .dailynewfundtitle{
        position: relative;
        display: flex;
        justify-content: space-between;
        .dailynewfundtitledate{
            background-image: url(../../../../public/imgs/day.png);
            background-size:100%;
            height:50px;
            width:50px;
            display: flex;
            flex-flow: column;
            text-align: center;
            margin-left: 10px;
            margin-top: -9px;
            .dailynewfundtitledateen{
                font-size: 12px;
                transform:scale(0.85,0.85);
                color: #21398d;
                font-weight: 500;
                margin-top: 4px;
            }
            .dailynewfundtitledatech{
                font-size: 12px;
                transform:scale(0.95,0.95);
                color: #21398d;
                font-weight: 500;
                margin-top: -4px;
            }
        }
        .dailynewfundtitleword{
            margin-left: -60px;
            margin-top: 8px;
            color: #0D2375;
            font-weight: 500;
        }
        .dailynewfundtitlebutton{
            margin-top: 3px;
            margin-right: 5px;
        }
    }
    .dailynewfundboard{
        overflow-y: scroll;
        max-height: 400px;
        padding: 10px 0;
    }
}