.entirecard{
    margin:0 auto;
    width: 95%;
    position: relative;
    .topcard{
        background-image: linear-gradient(45deg,#6098FA 0, #90B4FD 40%, #7EA9FC 65%, #6098FA 100%);
        background-size: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 45px;
        display:flex;
        flex-direction: row;
        justify-content:space-between; 
        align-items: center;
        .buttonmodule{
            .buttonintopcard{
                padding:10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content:center;
                background: linear-gradient(-45deg, #FC718A, #D87FDC);
                .imginbutton{
                    height:10px;
                    width:10px;
                }
                .wordinbutton{
                    font-size: 10px;
                    color: white;
                }
            }
        }
        .title{
            display:flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
            width: 50%;
            .picture1{
                width: 20px;
                height: 20px;
            }
            .word{
                position: relative;
                color: white;
                font-weight: 500;
            }
        }
        .picture2div{
            width: 15%;
            .picture2{
                height: 76px;
                position: relative;
                top:-13px;
            }
        }

    }
    .bottomcard{
        background-color: rgb(238, 241, 250); 
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}