<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>浦发资讯</title>
        <link rel="icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.publicPath %>public/lib/pufa_logo.svg" />
        <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
        <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
    </head>
    <body>
        <div id="app"></div>
    </body>
    <script>
        // 屏幕宽度适配
        const setSize = () => {
            const fontBaseSize = 14;
            const clientWidth = document.documentElement.clientWidth;
            document.documentElement.style.fontSize = fontBaseSize * clientWidth / 375 + 'px';
        }
        setSize();
        window.onresize = setSize;

        // 阻止系统回退键
        // window.addEventListener('popstate', function(event) {
        //     history.pushState(null, null, location.href );
        //     //此处加入回退时你要执行的代码
        // });

        // 移动端日志查看, 注生产上发布后要注释
        window.VConsole && new window.VConsole();

        // 打包版本
        window.buildVersion = "<%= htmlWebpackPlugin.options.buildPkg %>";
    </script>
</html>
