.canlendar{
  .entirecard{
    width: 100%;
    padding-top: 25px;
  }
}

.whatdaychoicelower{
  display: flex;
  flex-flow:row;
  align-items: center;
  justify-content: space-around;

  .word{
      color:#214969; 
      font-size:13px;
      font-weight: 500;
      padding: 8px 10px;
      display: flex;
      flex-direction:column;
      text-align:center;
  }
  .active-word{
    border: 1px solid rgb(238, 241, 250);
    background-color: white;
    box-shadow: 0 5px 5px #0000004d;
    border-radius: 3px;
    display: flex;
    flex-direction:column;
    text-align:center;
  }
}

.pro-type{
  display: flex;
  justify-content: center;
  font-size: 12px;
  color:#214969;
  font-weight: 500;
  padding: 15px 10px;
  width: 400px;
  overflow-x: scroll;
  white-space: nowrap;
  .item{
    margin-right: 10px;
  }

  .active-item{
    border-bottom: 3px solid #6098FA;
  }
}

.date-tip{
  text-align: center;
}