.chat-index{
  height: 180vw;
  overflow-y: scroll;
  .back-btn{
    color: white;
    position: fixed;
  }
}

.fund-detail{
  width: 95%;
  margin: 0 auto;
  background-color: #383552;
  border-radius: 5px;
  .detail-banner{
    background-color: #4D4E6F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
    padding: 15px 20px;
    box-shadow: 0 0 10px #000000;
    margin-bottom: 5px;
    
    .new-tag{
      background-image: linear-gradient(45deg, #F5D3C3 0%, #D3956C 50%, #D3956C 100%);
      padding: 1px 3px;
      border-radius: 3px;
      font-size: 12px;
      transform: scale(0.7);
      color: white;
      font-weight: 800;
    }
  }

  .fund-item{
    color: #b5b1ac;
    padding: 5px 10px;
    font-size: 13px;
    >div{
      margin-bottom: 5px;
      font-weight: 20;
    }

    .bottom-content{
      display: flex;
      justify-content: space-between;
      .tag{
        width: 60%;
        padding: 10px 0 ;
        span{
          display: inline-block;
          border-radius: 5px;
          border: 1px solid #8a7d70;
          margin: 0 5px 8px 0;
          font-size: 8px;
          padding: 2px;
        }
      }
    }
    .summary{
      background-image: linear-gradient(-225deg, #1C3A6D 0%, #313068 20%,#372D66 40%, #591D5E 100%);
      width: 35%;
      padding: 10px;
      border-radius: 2px;
      color:white;
      span{
        display: block;
        color: #FFFFFF;
        opacity: 0.7;
        font-size: 7px;
      }
      .rate{
        color: #F7D4AF;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

.tab-list{
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  .tab-item{
    font-size: 12px;
    background-color: #4D4E6F;
    display: inline-block;
    padding: 0 8px;
    color: #F2D5B4;
    font-weight: 400;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
  }
  .call-tel{
    display: inline-block;
    background-image: linear-gradient(-225deg, #1C3A6D 0%, #313068 20%,#372D66 40%, #591D5E 100%);
    padding: 5px 20px;
    color: #F7D5B0;
    font-weight: 800;
    text-shadow: 0 0 5px #F7D5B0;
    border-radius: 5px;
    font-size: 12px;
  }
}

.chat-bubble {
  .chat-bubble-line {
      padding: 10px;
      .bubble-content {
          position: relative;
          display: inline-block;
          color: white;
          max-width: 70%;
          height: auto;
          line-height: 20px;
          text-align: left;
          font-size: 14px;
          .content-span {
              padding: 10px 20px 15px 20px;
              display: inline-block;
              width: 100%;
              height: 100%;
          }
      }
  }
  .chat-dhx {
      .bubble-content {
          .content-span{
              clip-path: polygon(16px 0, 0 100%, 100% 100%, 100% 0);
              background-color: #243f66;
              padding-left: 35px;
          }
      }
  }

  .chat-customer {
      text-align: right;
      .bubble-content {
        background-color: #4D4E70;
        padding: 10px;
        border-radius: 5px;
        color: #F7D5B0;
        font-weight: 800;
      }
  }

  .assets-interprete{
    color: white;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    .assets-banner{
      height: 50px;
      background-color: #4D4E70;
      display: flex;
      box-shadow: 0 0 10px #000000;
      .asset-audio{
        height: 30px;
        line-height: 30px;
        position: relative;
        left: 10px;
        top: 7px;
        box-shadow: 0 0 5px #e0cab1 ;
        border-radius: 5px;
        display: flex;
        padding: 0 10px;
        .audio-duration{
          margin-left: 20px;
        }
      }
      .banner-text{
        width: 100%;
        line-height: 50px;
        color: white;
        font-weight: 600;
        text-align: center;
      }
      .banner-icon{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    .assets-box{
      background-color: #383552;
      padding: 20px;
      font-size: 12px;
      color: #FFF7EA;
      .reason{
        height: 150px;
        overflow-y: scroll;
      }
      .archives{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .archives-item{
          width: 45%;
          height:50px;
          .divwordcolor{
            color: #FFF7EB;
          } 
          .spanwordcolor{
            color: #ffffff;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
      .managerdata{
        .divwordcolor{
          color: #FFF7EB;
        }
        .managerdataname{
          color: #ffffff;
          font-size: 18px;
        }
        .workingyear{
          color: #f2d5b4;
          padding:0px 0px 15px 0px;
        } 
        .managerdatadetail{
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          .managerdatadetail-item{
            width: 45%;
            height:50px;
            .divwordcolor{
              color: #FFF7EB;
            } 
            .spanwordcolor{
              color: #ffffff;
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
      }
    }

    .assets-text{
      padding: 15px 0 15px 0;
    }
  }
}

