@import "../styles/variables.scss";
@import "./ajust.scss";

/* pages/introducation.wxss */

.ai-card{
  overflow: hidden;
  overflow-y: scroll;
  height: 650px;
}
  
.ai-card .assets-interprete{
    color: white;
    position: relative;
    top: 10px;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    .assets-banner{
      height: 50px;
      background-color: white;
      display: flex;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      .banner-text{
        width: 100%;
        line-height: 50px;
        color: #1C3A6D;
        text-align: center;
      }
      .banner-icon{
        display: block;
        width: 50px;
        position: relative;
        top:10px;
        right: 10px;
        width: 50px;
        height: 50px;
      }
    }

    .assets-box{
      background-image: linear-gradient(45deg,#F5F6FF 0,#F5FAFF 100%);
      padding-top:10px;
    }

    .init-audio{
      text-align: center;
      .audiocsschange{
        .timeline{
          background-color: #D8D8D8 !important;
        }
      }
    }

    .assets-text{
      padding: 15px 0 15px 0;
      .action-btn{
        display: flex;
        justify-content: space-around;
        .btn-cs{
          width: 40%;
          height: 35px;
          line-height: 35px;
          font-size: 13px;
          background-image: linear-gradient(45deg,#F5F6FF 0,#F5FAFF 100%);
          box-shadow: 2px 2px 10px #1246d81a ;
          border-radius: 5px;
          color: #1C3A6D;
          font-weight: 300;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        }

        .btn-cs::before{
          content: none;
        }

      }
    }

    .recommend{
      margin-top: 30px;
      .recommend-icon{
        width: 80%;
        margin: 0 auto;
        display: block;
      }
      .recommend-content{
        .recommend-item{
          width: 90%;
          background-image: linear-gradient(45deg,#F5FAFF 0,#F5F6FF 100%);
          margin: 10px auto 30px;
          border-radius: 5px;
          padding: 5px 0;
          height: 100px;
          .top-content{
            position: relative;
            left: 20px;
            padding: 5px 0 10px 0;
            font-size: 13px;
            .new-tag{
              background-image: linear-gradient(45deg, #F5D3C3 0%, #D3956C 50%, #D3956C 100%);
              padding: 2px 5px;
              border-radius: 3px;
              font-size: 8px;
              color: white;
              font-weight: 800;
            }
            .fund-name{
              position: relative;
              left: 20px;
              font-size: 16px;
              font-weight: 500;
              color: #1C3A6D;
            }
          }

          .bottom-cotent{
            display: flex;
            .rate-box{
              background-image: linear-gradient(131deg, #807CF1 0%, #3D7EF1 100%);
              box-shadow: 0 8px 30px 0 rgba(18,70,216,0.30);
              width: 40%;
              border-radius: 5px;
              text-align: center;
              padding: 15px 0px;
              position: relative;
              left: -15px;
              
            }
            .border-box{
              margin-left: 5px;
              color: #1C3A6D;
              font-size: 10px;
              padding: 1px 5px;
              border: 1px solid #696969;
              margin: 0 5px 5px 0;
              border-radius: 10px;
              opacity: 0.7;
            }

            .purchase{
              margin-top: 5px;
            }

            .arrow{
              position: relative;
              width: 10%;
              margin: 0 15px;
              right: -25px;
              img{
                width: 8px;
                height: 15px;
              }
              
            }
          }
        }
      }
    }

    .btn-show{
      width: 90%;
      padding: 10px 15px;
      background-image: linear-gradient(45deg,#F5F6FF 0,#F5FAFF 100%);
      box-shadow: 2px 2px 10px #1246d81a ;
      margin: 5px auto 10px;
      border-radius: 5px;

      .show-title{
        color: #1C3A6D;
        font-weight: 500;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 2px 0;
        
        img{
          width: 30px;
        }
      }

      .show-content{
        font-size: 10px;
        color: #1C3A6D;
        line-height: 15px;
        text-align: center;
        img{
          width: 100%;
        }
      }
    }
  }

  .wifi-symbol {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 9;
    transform: translate(-50%, -50%) rotate(135deg);
    margin-left: 15px;
    top: 15px;
    left: 25px;

    .wifi-circle {
      border: 2px solid #F2D5B4;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      clip-path: polygon(0 0, 0 60%, 60% 60%, 60% 0);
    }

    .first {
      width: 2px;
      height: 2px;
      background: #F2D5B4;
      top: 45px;
      left: 45px;
    }
    
    .second {
      width: 13px;
      height: 13px;
      top: 40px;
      left: 40px;
    }
    
    .third {
      width: 21px;
      height: 21px;
      top: 35px;
      left: 35px;
    }

  }

  .translate-icon{
    position: absolute;
    right:3%;
    top:50%;
    transform: translate(-50%, -50%);
    img{
      width: 14px;
      height: 14px;
    }
  }

  .duration-time{
    color: gray;
    position: absolute;
    left:20%;
    top:50%;
    transform: translate(-50%, -50%)
  }

.active-audio {
  .second {
    animation: fadeInOut 1s infinite 0.2s;
  }
  
  .third {
    animation: fadeInOut 1s infinite 0.4s;
  }
}

@keyframes fadeInOut {
  0% {
      opacity: 0; /*初始状态 透明度为0*/
  }
  100% {
      opacity: 1; /*结尾状态 透明度为1*/
  }
}
  
.btn-pro{
  width: 95%;
  height: 45px;
  border-radius: 3px;
  margin: 10px auto 0;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(45deg,#6098FA 0, #90B4FD 40%, #7EA9FC 65%, #6098FA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 60px;
    position: relative;
    right: -135px;
    top: -10px;
  }

  .btn-xiaopu{
    position: absolute;
  }
}