.login-bg{
  position: relative;
  background-image: url('~Imgs/login-bg.png');
  overflow: hidden !important;
  .video-bg{
    position: absolute;
    video{
      width: 100%;
      height: 100%;
    }
  }
  .login-banner{
    display: flex;
    justify-content: space-around;
    position: relative;
    left:10px;
    img{
      width: 90%;
      height: 10%;
    }
  }

  .input-content{
    position: relative;
    top:-150px;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgb(245 245 245);
    background-image: url('~Imgs/input-content.png');
    padding:5%;
    border-radius: 10px;

    .login-text {
      text-align: center;
      background-image: linear-gradient( to right,#807CF1 30%, #3D7EF1 45%,#3D7EF1 55%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 15px;
      img{
        width: 50%;
        height: 15px;
        margin: 10px auto;
        display: block;
      }
    }
    .emp{
      margin-top: 30px
    }
    .am-list-item .am-input-control input{
      font-size: 11px;
      color: gray;
    }

    .login-input{
      color:#394166;
      font-size: 12px;
      height: 25px;
      min-height: 25px;
      background: none;
    }
    .errorTips{
      color:red;
      font-weight: 500;
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
    }

    .bottom-action{

      .login-btn{
        width: 100% !important;
        background-image: linear-gradient(90deg, #807CF1 0%, #3D7EF1 100%);
        color: white;
        font-size: 16px;
        font-weight: 700;
        margin: 20px 0 40px;
        border-radius: 10px;
        height: 40px;
        line-height: 40px;
      }
      .login-tio{
        width: 50%;
        height: 12px;
        display: block;
        margin: 0 auto
      }

    }
  }
}

.form-item{
  display: flex;
  align-items: center;
  border: 1px solid #d7dcf3;
  padding: 5px 0;
  margin-top: 20px;
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
}

.invaild{
  display: flex;
}
.captcha-img{
  margin-top: 20px;
  margin-left: 50px;
  img{
    width: 100px;
    height: 100%;
  }
}

.am-list-item .am-input-control input{
  font-size: 14px;
}





