.open-index{
  padding-top: 20px;
  padding-bottom: 70px;
  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 55px;
    .pcm-info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      margin-bottom: 5px;
      .pcm-icon{
        img{
          width: 60px;
        }
        margin-right: 10px;
      }
      .pcm-name{
        font-family: PingFangSC-Semibold, serif;
        font-size: 15px;
        color: #0D2375;
        letter-spacing: 1.07px;
        line-height: 20px;
      }
      .pcm-num{
        opacity: 0.6;
        font-family: PingFangSC-Light, serif;
        font-size: 12px;
        color: #0D2375;
        letter-spacing: 0;
        line-height: 20px;
      }
      .pcm-branch{
        opacity: 0.6;
        font-family: PingFangSC-Light, serif;
        font-size: 12px;
        color: #0D2375;
        letter-spacing: 0;
        line-height: 20px;
      }
    }
    .pcn-info{
      display: flex;
      justify-content: center;
      align-items: center;
      .pcn-rate{
        width: 35%;
        .ant-progress-text {
          font-family: BebasNeue, serif;
          font-size: 14px;
          color: #0D2375;
          letter-spacing: 0;
          text-align: center;
          line-height: 17px;
        }
      }
      .rate-title{
        font-family: PingFangSC-Regular, serif;
        font-size: 12px;
        color: #0D2375;
        letter-spacing: 0;
        line-height: 12px;
      }
      .rate-content{
        opacity: 0.6;
        font-family: PingFangSC-Light, serif;
        font-size: 12px;
        color: #0D2375;
        letter-spacing: 0;
        line-height: 12px;
      }
    }
  }
  .view-content{
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;

    .view-top{
      padding: 10px 10px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 3px;
      background-image: linear-gradient(-46deg, #a8c1ff4d 0%, #6098fa66 100%);

      .share-btn{
        position: absolute;
        left: 10px;
        height: 35px;
      }

      .view-title{
        color: #214969;
        font-weight: 600;
        font-size: 15px;
      }
    }

    .assets-box{
      padding-top: 0 10px 0;
      position: relative;
      background-color: #f4fcff66;
      padding-top: 10px;

      .btn-show{
        width: 90%;
        padding: 10px 15px;
        background-image: linear-gradient(135deg,#daebfd 0, #eff5f9 100%);
        margin: 0 auto 10px;
        border-radius: 5px;
        box-shadow:0 2px 5px #a99ebd ;

        .show-title{
          color: #214969;
          font-weight: 500;
          font-size: 13px;
          display: flex;
          align-items: center;
          padding: 2px 0;

          img{
            width: 20px;
          }
        }

        .show-content{
          font-size: 10px;
          color: #214969;
          line-height: 15px;
          img{
            width: 100%;
          }
        }
      }
    }

    .assets-text{
      padding: 5px 0 8px 0;
      
      .assets-item{
        padding:5px 10px 8px;
        display: flex;
        .left-asset{
          width: 70%;
          padding-left: 5px;
          .asset-title {
            font-weight: 400;
            font-size: 14px;
            color: #214969;
            font-weight: 500;
          }

          .asset-keyword {
            color: black;
            margin: 0 5px 5px 0;
            opacity: 0.9;
            display: inline-block;
            font-size: 12px;
          }
        }
        .asset-audio{
          height: 30px;
          width: 23%;
          line-height: 30px;
          padding: 0 10px;
          position: absolute;
          right: 20px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          img{
            width: 28px;
          }
          span{
            position: relative;
            left: 10px;
            color: #488bc5;
            font-weight: 400;
          }
        }
      }

      .action-btn{
        display: flex;
        justify-content: space-around;
        .btn-cs{
          width: 40%;
          height: 35px;
          line-height: 35px;
          font-size: 13px;
          border-radius: 5px;
          color: #214969;
          background-color: white;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 30px;
            height: 30px;
            margin-right: 5px;
          }
        }

        .btn-cs::before{
          content: none;
        }

      }
    }
  }
}

.btn-pro{
  width: 95%;
  height: 45px;
  border-radius: 3px;
  margin: 10px auto 0;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(45deg,#6098FA 0, #90B4FD 40%, #7EA9FC 65%, #6098FA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 60px;
    position: relative;
    right: -135px;
    top: -10px;
  }

  .btn-xiaopu{
    position: absolute;
  }
}