.pro-detail{
  height: 155vw;
  overflow-y: scroll;
  padding-top: 25px;
  .back-btn{
    color: white;
    position: fixed;
  }
}

.tab-list{
  position: fixed;
  bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10px;
  .tab-item{
    font-size: 12px;
    background-image: url(../../public/imgs/news-bg.png);
    background-size: 100% 100%;
    display: inline-block;
    padding: 0 8px;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
  }
  .tab-item-shared{
    font-size: 12px;
    background-image: url(../../public/imgs/news-bg-shared.png);
    background-size: 100% 100%;
    display: inline-block;
    padding: 0 8px;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
  }
  .tab-item-blue{
    font-size: 12px;
    background-image: url(../../public/imgs/news-bg-blue.png);
    background-size: 100% 100%;
    display: inline-block;
    padding: 0 8px;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
  }
  .call-tel-blue{
    display: inline-block;
    background-image: url(../../public/imgs/news-bg-blue.png);
    background-size: 100% 100%;
    padding: 5px 20px;
    color: whitesmoke;
    font-weight: 800;
    border-radius: 5px;
    font-size: 12px;
  }
}

.chat-bubble {
  padding-bottom: 40px;
  .chat-bubble-line {
      padding: 20px 10px 10px;
      .bubble-content {
          position: relative;
          display: inline-block;
          color: white;
          max-width: 70%;
          height: auto;
          line-height: 20px;
          text-align: left;
          font-size: 14px;
          .content-span {
              padding: 10px 20px 15px 20px;
              display: inline-block;
              width: 100%;
              height: 100%;
          }
      }
  }
  .chat-dhx {
      .bubble-content {
          .content-span{
              clip-path: polygon(16px 0, 0 100%, 100% 100%, 100% 0);
              background-color: #243f66;
              padding-left: 35px;
          }
      }
  }

  .chat-customer {
      text-align: right;
      .bubble-content {
        background-image: linear-gradient(90deg, #0782FA 0, #020073 100%);
        padding: 5px 20px;
        border-radius: 20px 20px 0 20px;
        color: whitesmoke;
        font-weight: 800;
      }

      .bubble-content:before{
        content: '';
        width: 0;
        position: absolute;
        right: 0;
        bottom: -5px;
        border-top: 0px solid transparent;
        border-right: 13px solid #020073;
        border-bottom: 8px solid transparent;
      }
  }

    .assets-box{
      padding: 10px 20px 20px;
      font-size: 12px;
      color: #020073;
      .reason{
        max-height: 100px;
        overflow-y: scroll;
      }
      .managerdata{
        .mananger-title{
          color: #0d41a0;
          font-weight: 800;
          font-size: 16px;
          padding:0px 0px 5px 0px;
        }
        .managerdataname{
          color: #575A7A;
          font-size: 18px;
          font-weight: 500;
          padding:0px 0px 5px 0px;
        }
        .workingyear{
          font-weight: 500;
          color: #7888A5;
          padding:0px 0px 10px 0px;
        } 
        .managerdatadetail{
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          .managerdatadetail-item{
            width: 45%;
            height:50px;
            .divwordcolor{
              color: #FFF7EB;
            } 
          }
        }
      }
      .trans-rule{
        display: flex;
      }
    }

    .assets-text{
      padding: 15px 0 15px 0;
    }
  }

  .archives{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
  }

  .archives-item{
    width: 45%;
    margin: 3px 0;
    .divwordcolor{
      color: #A0AFCC;
      font-weight: 400;
    } 
    .red-tag{
      color: red !important;
    }
    .spanwordcolor{
      color: #7888A5;
      font-size: 12px;
      font-weight: 700;
    }
  }
  
  .detail-map3{
    padding: 5px 10px
  }

  .detail-map2{
    padding: 5px 15px;
    font-size: 13px;
    .archives-productId{
      color: black;
    }
    .sub-title{
      color: #243f66;
      font-weight: 600;
      font-size: 15px;
      margin: 5px 0;
    }
    .prodetail-point{
      display: flex;
      font-size: 8px;
      .tag{
        border: 1px solid #243f66;
        border-radius: 10px;
        margin-right: 5px;
        padding: 2px 3px;
      }
    }
  }

  .entirecard{
    margin:0 auto;
    width: 95%;
    .topcard{
        background-image: linear-gradient(45deg,#6098FA 0, #90B4FD 40%, #7EA9FC 65%, #6098FA 100%);
        background-size: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 45px;
        display:flex;
        flex-direction: row;
        justify-content:space-between; 
        align-items: center;
        .buttonmodule{
            .buttonintopcard{
                padding:10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content:center;
                background: linear-gradient(-45deg, #FC718A, #D87FDC);
                .imginbutton{
                    height:10px;
                    width:10px;
                }
                .wordinbutton{
                    font-size: 10px;
                    color: white;
                }
            }
        }
        .title{
            display:flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
            .picture1{
                width: 20px;
                height: 20px;
            }
            .word{
                color: white;
                font-weight: 500;
                font-size: 12px;
            }
        }
        .picture2div{
            .picture2{
                height: 65px;
                margin-top: -15px;
            }
        }

    }
    .bottomcard{
        background-color: rgb(238, 241, 250); 
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-top: 10px;
    }
}

.share-audio{
  padding: 5px 8px;
  transform: scale(0.9);
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(18,70,216,0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-46deg, #a8c1ff66 0%, #6199fa4d 100%);
  img{
    width: 30px;
  }
  .share-icon{
    width: 18px;
    margin-right: 2px;
  }

  .audio-duration{
    color: white;
    font-weight: 400;
    font-size: 13px;
  }
}


