.publicOfferingFundHomepage{
    position: relative;
    top:10px;

    .bottomcard{
       height: 100%;
    }

    .chat-content{
        overflow-y: scroll;
        height: 500px;
        margin-bottom: 10px;
        padding-top: 25px;
        .date-tip{
            text-align: center;
        }
    }
  }

  .whatdaychoice{
    display: flex;
    flex-flow:column;

    .whatdaychoiceupper{
        display: flex;
        flex-flow:row;
        align-items: center;
        justify-content: center;
        position:relative;
        width: 95%;
        margin: 2px auto;
        
        .whatdaychoiceupperreturn{
            display: flex;
            justify-content: space-between;
            width: 60px;
            background-image: linear-gradient(-46deg, #a8c1ff66 0%, #6199fa4d 100%);
            padding: 5px 10px;
            border-radius: 3px;
            .arrow{
                width: 10px;
            }
            .picture{
                width:20px;
            }
        }

        .whatdaychoiceupperword{
            color:#214969;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .whatdaychoicelower{
        display: flex;
        flex-flow:row;
        align-items: center;
        justify-content: space-around;
        padding: 0 10px;

        .word{
            color:#214969; 
            font-size:13px;
            font-weight: 500;
            padding: 5px;
        }
    }
}

.chat-bubble{
    .chat-right{
        display: flex;
        justify-content: flex-end;
        margin-bottom: -10px;
        .banner-text{
            background-image: url('~Imgs/chat-left-bg.png');
            padding: 5px 10px;
            background-size:100% 100%;
            background-repeat: no-repeat;
            height: 50px;
            text-align: center;
            color: whitesmoke;
            line-height: 32px;
            font-weight: 500;
            
        }
    }
    .date-tip{
        text-align: center;
    }
}