.weeklyproducttraining{
    position: relative;
    top:35px;
    .bottomcard{
        height: 440px;
    }
    .pyramidword{
        padding: 12px;
        color: #394166;
        font-weight: 600;
        font-size: 15px;
    }
    .pyramidpicture{
        position: relative;
        left: 8px;
        top:35px;
        height:105vw;
        width:90vw
    }
    .ll1{
        position: relative;
        top: -535px;
        left: 125px;
        height: 30px;
    }
    .ll2{
        position: relative;
        top: -500px;
        left: 90px;
        height: 15px;
    }
    .ll3{
        position: relative;
        top: -555px;
        left: 150px;
        height: 35px;
    }
    .fund-tip{
        font-weight:400;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:0;
        border-radius: 20px;
        height:30px;
        line-height: 30px;
        width:135px;
        position:relative;
        border:0px;
        background: linear-gradient(-45deg, #F2F4FA,#FFFFFF);

        .p1{
            height:15px;
            width:15px;
        }
        .word{
            color:#394166;
            font-size: 13px;
        }
        .p2{
            height:12px;
            width:12px;
        }
    }

    .b0{
        position: relative;
        top:-405px;
        left: 200px;
        &::after {
            content: "";
            background: url(../../public/imgs/leaderline2.png) center center no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -23px;
            right: 120px;
            width: 25px;
            height: 25px;
            transform:rotate(10deg);
        }
    }
    .b1{
        position: relative;
        top:-410px;
        left: 15px;
        &::after {
            content: "";
            background: url(../../public/imgs/leaderline1.png) center center no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -25px;
            right: 5px;
            width: 25px;
            height: 25px;
            transform:rotate(-10deg);
        }
    }
    .b2{
        position: relative;
        top:-390px;
        left: 15px;
        &::after {
            content: "";
            background: url(../../public/imgs/leaderline1.png) center center no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -15px;
            right: 15px;
            width: 15px;
            height: 15px;
            transform:rotate(-10deg);
        }
    }
    .b3{
        position: relative;
        top:-350px;
        left: 112px;
    }
    .b4{
        position: relative;
        top:-323px;
        left: 112px;
    }
    .b5{
        position: relative;
        top:-285px;
        left: 112px;
    }
}