.publicoffer{
    width: 88%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.06);
    position: relative;
    margin:auto;
    margin-bottom: 20px;
    padding: 10px 10px;
    .top-title{
        margin: 5px 0;
        display: flex;
        font-size: 13px; 
        align-items: center; 
        .tag-border{
            border-right: 4.5px solid #214969;
            height: 12px;
        }
    }
    .top-content{
        color:#214969;
        font-size: 12px;
        font-weight: 400;
        .sub-title{
            font-weight: 600;
        }
    }
    .title{
        align-items: center;
        top:20px;
        color:#214969;
        font-weight: 500;
        padding-left: 5px;
    }

    .pub-content{
        display: flex;
        margin-top: 5px;
    }
    .productmainpoint{
        position: relative;
        left: -20px;
        background-image: url('~Imgs/summary-bg.png');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        border-radius: 3px;
        width: 120px;
        height:120px;   
        padding: 5px 8px;
        .productmainpointword{
            font-size:13px;
            color: whitesmoke;
            font-weight: 500;
        }
        .sum-item{
            font-size: 12px;
            color: whitesmoke;
        }
    }
    .marketkeypoint{
        transform: scale(0.9);
        width: 70%;
        .marketkeypointword{
            font-size:14px;
            font-weight: 400;
            color: #214969;
            margin-bottom: 5px;
        }
        .specificmarketkeypoint{
            display: flex;
            flex-wrap: wrap;
            font-size: 12px;
            
            .point-item{
                border: 1px solid #214969;
                margin: 0 2px 2px 0;
                padding:1px 3px;
                border-radius: 10px;
                transform: scale(0.9);
                color: #214969;
            }
        }
    }
}

.new-tag{
    background-image: linear-gradient(45deg, #FAD961 0%, #F9A440 50%, #F76B1C 100%);
    padding: 1px 2px;
    border-radius: 3px;
    font-size: 12px;
    transform: scale(0.9);
    color: white;
    font-weight: 800;
  }